.container {

    text-align: center;
    color: #14171A;
}

h1 {
    color: #14171A;
}

h3 {
    color: #14171A;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    background-color: #F5F8FA;
    margin-bottom: 20px;
}

.hashtags {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.count {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.submit {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.hashtag {
    padding: 6px 15px;
    margin-right: 12px;
    box-shadow: 0 0 2px #888;
    border-radius: 20px;
    background-color: #14171A;
    color: #fff;
    width: fit-content;
    display: inline-block;
}

.formGroup {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    background-color: #F5F8FA;
}

.searchQuery {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    background-color: #F5F8FA;
    margin-bottom: 20px;
}

.sort {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.order{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.searchResults {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    overflow-y: scroll;
    border: 5px solid #F5F8FA;
}

.results {
    width: 700px;
    height: auto;
    border: 5px solid #1DA1F2;
    margin-top: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}